mixin comments(comment)
    li.comments-lists__list(data-id=comment._id)
        a(href=`/users/${comment.owner._id}`)
            img(src=`/${comment.owner.avatarUrl}`).comment-img
        div.comment-box
            div.comment-text
                div.comment-text__top
                    a(href=`/users/${comment.owner._id}`)
                        span.comment-name=comment.owner.name
                    span.comment-time=comment.createdAt
                span.comment-value=comment.text
                div.comment-btns
                    form(method="POST", action=`/api/comments/${comment._id}/like`)
                        button.comment-like__btn 
                            if !comment.likeOwner.includes(String(loggedInUser._id))
                                i.far.fa-heart.comment-like
                            else
                                i.fas.fa-heart.comment-like
                    span=comment.likeOwner.length
                    if String(comment.owner._id) === String(loggedInUser._id)
                        form(method="POST", action=`/api/comments/${comment._id}/delete`) 
                            input(type="submit", value="❌").comment-delete
            each child in comment.childComment
                div.child-comment__div
                    div.child-comment__top
                        span.child-comment__time=child.createdAt
                    span.child-comment__text=child.text
                    div.child-comment__btns
                        span=child.likeOwner.length
            div.small-comment__append
                span.small-comment 답글 달기
                form.small-comment__form
                    input.small-comment__input(type="text", placeholder="Write a comment...", required)
                    button.small-comment__submit Submit
                    span.small-comment__delete ❌