mixin comments(comment)
    li.comments__lists--list(data-id=comment._id)
        if comment.status == "Exist"
            a(href=`/users/${comment.owner._id}`)
                img(src=`/${comment.owner.avatarUrl}`)
        else
            img(src="/uploads/avatars/default_avatar.jpeg")
        div.comment__box
            div.comment__box--text
                div.comment__box--text--info
                    if comment.status == "Exist"
                        a(href=`/users/${comment.owner._id}`)
                            span.comment__box--text--info--name=comment.owner.name
                    else
                        span.comment__box--text--info--name (삭제)
                    span.comment__box--text--info--date=comment.createdAt
                span.comment__box--text--value=comment.text
                div.comment__box--btns
                    if loggedIn && comment.status == "Exist"
                        form(method="POST", action=`/api/comments/${comment._id}/like`)
                            button.comment__box--btns--like
                                if comment.likeOwner.includes(String(loggedInUser._id))
                                    i.fas.fa-heart.comment-like.heart
                                else
                                    i.far.fa-heart.comment-like
                    else
                        button.comment__box--btns--like
                            i.far.fa-heart.comment-like
                    span=comment.likeOwner.length
                    if loggedIn && String(comment.owner._id) === String(loggedInUser._id) && comment.status == "Exist"
                        form(method="POST", action=`/api/comments/${comment._id}/delete`) 
                            input(type="submit", value="❌").comment__box--btns--delete
            each child in comment.childComments
                div.comment__box--child
                    a(href=`/users/${child.owner._id}`)
                        img.comment__box--child--img(src=`/${child.owner.avatarUrl}`)
                    div.comment__box--child--box
                        div.comment__box--child--info
                            a(href=`/users/${child.owner._id}`)
                                span.comment__box--child--info--name=child.owner.name
                            span.comment__box--child--info--date=child.createdAt
                        span.comment__box--child--value=child.text
                        div.comment__box--btns
                            if loggedIn
                                form(method="POST", action=`/api/comments/${child._id}/like`)
                                    button.comment__box--btns--like
                                        if !child.likeOwner.includes(String(loggedInUser._id))
                                            i.far.fa-heart.comment-like
                                        else
                                            i.fas.fa-heart.comment-like.heart
                            else
                                button.comment__box--btns--like
                                    i.far.fa-heart.comment-like
                            span=child.likeOwner.length
                            if loggedIn && String(child.owner._id) === String(loggedInUser._id)
                                form(method="POST", action=`/api/comments/${child._id}/delete`) 
                                    input(type="submit", value="❌").comment__box--btns--delete
            if loggedIn && comment.status == "Exist"   
                div.small-comment__append
                    span.small-comment__append--title 답글 달기
                    form.small-comment__append--form
                        input(type="text", placeholder="Write a comment...", required)
                        button Submit
                        span ❌