include base
block content
    div.user-container
       div.user-container__profile
        div.user-container__imgbox
            img.user-container__img(src=user.avatarUrl)
        div.user-container__info
            div.user-container__namebox
                span.user-container__strong Name
                span.user-container__small=user.name
            div.user-container__namebox
                span.user-container__strong Email
                span.user-container__small=user.email
       if user._id == loggedInUser._id
        div.user-container-btns
            span.user-container__edit
                a(href="/edit-profile") Edit Profile
            span.user-container__scrap
                a(href=`/users/${user._id}/scraps`) My Scrap
       if loggedInUser && (user._id != loggedInUser._id)
        div.user-container-btns
            form(method="POST", action=`/users/${user._id}/block`).user-container__block
                button Block User
       div.user-boards
        span.user-boards__title My Contents
        ul.user-boards__lists
            each board in user.boards
                li.user-boards__list 
                    a(href=`/boards/${board._id}`)=board.title