include base
include mixins/board
block content
    div.profile__box
       div.profile__box--info
        div
            img.profile__box--info--img(src=`/${user.avatarUrl}`)
        div.profile__box--info--text
            span.profile__box--info--text--name=user.name
            if loggedIn && user._id == loggedInUser._id
                span.profile__box--info--text--btn 
                    a(href="/edit-profile") Edit profile
            div
                span.profile__box--info--text--number boards #{user.boards.length}
                span.profile__box--info--text--number follow #{user.followUsers.length}
                span.profile__box--info--text--number following #{user.followingUsers.length}
            span=user.email
       if loggedIn
        if user._id == loggedInUser._id
            div.profile__box--btns
                span.profile__box--btns--btn
                    a(href="/change-password") Change password
                span.profile__box--btns--btn
                    a(href=`/users/${user._id}/scraps`) My Scrap
                span.profile__box--btns--btn
                    a(href=`/users/${user._id}/block-users`) Blocked Users
                div.profile__box--btns--div
                    a(href=`/users/${user._id}/follow-list`) Follow request users
                    if followList
                        span.follow-list__number=followList.length
        else
            div.profile__box--btns--anon
                if !loggedInUser.blockUsers.includes(String(user._id))
                    if user.needFollowAsk
                        if user.followList.find(x => String(x._id) === String(loggedInUser._id))
                            form(method="POST", action=`/users/${user._id}/follow`).user-container__follow
                                button Remove Follow request
                        else
                            if user.followUsers.find(x => String(x._id) === String(loggedInUser._id))
                                form(method="POST", action=`/users/${user._id}/follow`).user-container__follow
                                    button Unfollow
                            else
                                form(method="POST", action=`/users/${user._id}/follow`).user-container__follow
                                    button Add Follow
                                form(method="POST", action=`/users/${user._id}/block`).user-container__block
                                    button Block User
                    else
                        if user.followUsers.find(x => String(x._id) === String(loggedInUser._id))
                            form(method="POST", action=`/users/${user._id}/follow`).user-container__follow
                                button Unfollow
                        else
                            form(method="POST", action=`/users/${user._id}/follow`).user-container__follow
                                button Add Follow
                            form(method="POST", action=`/users/${user._id}/block`).user-container__block
                                button Block User
                else
                    form(method="POST", action=`/users/${user._id}/block`).user-container__block
                        button Block Clear
    if loggedInUser
        if user._id == loggedInUser._id
            if boards
                div.board__list
                    each board in boards
                        +boards(board)
            else
                span.errorMsg=errorMsg
        else
            if user.protection
                if user.followUsers.find(x => String(x._id) === String(loggedInUser._id))
                    div.board__list
                        each board in user.boards
                            +boards(board)
                else
                    div.lock-message__box
                        img(src="/assets/lost.svg")
                        span.lock-message You need to follow first
            else
                div.board__list
                    each board in boards
                        +boards(board)
    else
        if user.protection
            div.lock-message__box
                img(src="/assets/lost.svg")
                span.lock-message You need to follow first
        else 
            div.board__list
                each board in boards
                    +boards(board)
    div.followModal.modal
        div.followModal.modal__content
            div.followModal.modal__content--header
                span.followModal.modal__content--header--title follow peoples
                span.followModal.modal__content--close &times;
            ul.followModal.modal__lists 
                each followUser in user.followUsers
                    li.followModal.modal__list 
                        div.followModal.modal__list--content
                            a(href=`/users/${followUser._id}`)
                                img(src=`/${followUser.avatarUrl}`).followModal.modal__list--content--img
                                span=followUser.name
                else
                    span.errorMsg 🙅 Sorry nothing found.
    div.followingModal.modal
        div.followingModal.modal__content
            div.followingModal.modal__content--header
                span.followingModal.modal__content--header--title following peoples
                span.followingModal.modal__content--close &times;
            ul.followingModal.modal__lists 
                each followingUser in user.followingUsers
                    li.followingModal.modal__list 
                        div.followingModal.modal__list--content
                            a(href=`/users/${followingUser._id}`)
                                img(src=`/${followingUser.avatarUrl}`).followingModal.modal__list--content--img
                                span=followingUser.name
                else
                    span.errorMsg 🙅 Sorry nothing found.
    script(src="/js/followModal.js")
    script(src="/js/followingModal.js") 