include base
include mixins/comment
block content
    div.watch(data-id=board._id)
        span.watch__title=board.title
        span.watch__date=board.createdAt
        div.watch__owner
            a(href=`/users/${board.owner._id}`)
                img.watch__owner--img(src=`/${board.owner.avatarUrl}`)
                span.watch__owner--name=board.owner.name
        span.watch__contents=board.content
        if loggedIn && board.owner._id == loggedInUser._id
            div.watch__btns
                a(href=`${board._id}/edit`) ✂️ Edit contents
                a(href=`${board._id}/delete`) 🗑 Delete contents
        div.watch__contents--else
            i.far.fa-comments
            span.watch__contents--else--number=sum
        form.watch__comment--form
            if loggedIn
                input(type="text", placeholder="Write a comment...", required).watch__comment--input
                button.watch__comment--button Submit
            else
                input(type="text", placeholder="You must login...", disabled).watch__comment--input--block
                button.watch__comment--button--blocked Submit
    ul.comments__lists
        each comment in comments
            +comments(comment) 
        script(src="/js/comment.js") 